.header {
  border-bottom: 1px solid #e1e1e1;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
.header .content ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
}
.header .content ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

@media screen and (max-width: 430px) {
  .content h1 {
    font-size: 28px;
    margin-left: 8px;
  }
  .header .content ul {
    gap: 12px;
    padding-right: 8px;
  }
}
